body {
    background: #f9f9f9;
}

.logoText h1 {
    width: 250px;
    display: block;
    position: absolute;
    font-size: 2.8em;
    font-family: cookie, cursive;
    margin-top: -5px;
    font-weight: 500;
    color: #010d3d;
}

.headline{
    color: #fff;
    font-family: 'Indie Flower', cursive;
    margin-top: 30px;
}

.apresentacao{
    width: 100%;
    min-height: 210px;
    background: #474E5D;
    margin-top: -15px;
}

.menu {
    padding: 15px;
    background: #F9F9F9;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25)
}


.img-centro {
    width: 160px;
    margin-top: 50px;
    box-shadow: 1px 2px 22px rgba(255, 255, 255, 0.21176470588235294);
}

.gradiente {
    min-height: 350px;
background: linear-gradient( rgba(0, 0, 0, 0.62), rgb(10, 20, 43) ),
url('../images/background.jpeg') no-repeat center;
    background-size: 105% 440%;
    -webkit-animation: AnimationVargatt 18s ease infinite;
    -moz-animation: AnimationVargatt 18s ease infinite;
    animation: AnimationVargatt 18s ease infinite;
    background-size: cover;
}

@-webkit-keyframes AnimationVargatt {
    0% {
        background-position: 0% 0%
    }
    50% {
        background-position: 2% 100%
    }
    100% {
        background-position: 5% 0%
    }
}

@-moz-keyframes AnimationVargatt {
    0% {
        background-position: 0% 0%
    }
    50% {
        background-position: 2% 100%
    }
    100% {
        background-position: 5% 0%
    }
}

@keyframes AnimationVargatt {
    0% {
        background-position: 0% 0%
    }
    50% {
        background-position: 2% 100%
    }
    100% {
        background-position: 5% 0%
    }
}

.apresentacao{
    margin-top: -28px;
}

.apresentacao .box p{
width: 80%;
    margin: 0 auto;
}

.apresentacao .box{
    color: #fff;
    position: relative;
    top: 30px;
}

.apresentacao button{
    position: relative;
    top: 15px;
}

.text-black{
    color: #000!important;
}
.bold{font-weight: bold}

.card{
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.26);
    border: 0px!important;
}

footer{
    background:#0E1528 ;
    min-height: 100px;
    position: relative;
    bottom: -20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8313725490196079);
}

footer p {
    position: relative;
    top: 40px;
}

footer a {
    color: #fff!important;
}